@import url("./assets/css/fonts.css");
@import url("./assets/css/typography.css");
@import url("./assets/css/buttons.css");
@import url("./assets/css/inputs.css");
@import url("./assets/css/home.css");
@import url("./assets/css/about.css");
@import url("./assets/css/navbar.css");
@import url("./assets/css/auth.css");
@import url("./assets/css/admin.css");
@import url("./assets/css/map.css");
@import url("./assets/css/help.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Firefox */
@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: light;
  }
}

/* Chrome */
@media (forced-colors: active) {
  :root {
    color-scheme: light;
  }
}

:root {
  --primary: "text-primary";
  color-scheme: only light;
}

@layer base {
  * {
    @apply m-0 p-0 box-border font-inter;
  }

  /* Remove defualt reveal icon for password input fields from Edge */
  input[type="password"]::-ms-reveal,
  input[type="password"]::-ms-clear {
    display: none;
  }

  img {
    @apply inline-block;
  }
}

@layer components {
  .dashboard nav {
    @apply h-screen bg-primary-500 px-[16px] py-[32px];
    @apply flex flex-col justify-between items-center;
  }
  .dashboard nav .nav-link-icon {
    position: relative;
  }

  .dashboard nav .nav-link-icon span {
    @apply bg-gray-900 text-primary-200 rounded-[8px] px-[12px] py-[8px] ms-[10px];
    @apply text-[14px] leading-[20px] tracking-[0.7px] font-medium text-center;
    box-shadow: 0px 25px 50px -12px rgba(0, 0, 0, 0.25),
      0px 5px 15px -3px rgba(0, 0, 0, 0.2),
      0px 15px 35px -5px rgba(17, 24, 38, 0.35), 0px 0px 1px 0px #fff;
    position: absolute;
    top: calc(50% - 18px);
    left: 100%;
    opacity: 0;
    transition: opacity 0.3s ease-in;
  }

  .dashboard nav .nav-link-icon:hover span {
    opacity: 1;
  }

  .dashboard nav .nav-link.active,
  .dashboard nav .nav-link-icon.active .icon-wrapper {
    box-shadow: 0px 0px 0px 5px #5daaff, 0px 0px 0px 1px rgba(0, 122, 255, 0.4);
  }

  .divider.divider-vertical {
    @apply h-full w-[1px];
  }

  .divider.divider-horizontal {
    @apply w-full h-[1px];
  }
  .stepper {
    display: grid;
    grid-template-columns: repeat(var(--no-of-steps), 1fr);
    gap: 12px;
    margin-bottom: 32px;
  }

  .stepper .stepper-item {
    @apply h-[8px] rounded-[4px] bg-primary-100;
    transition: background-color 0.3s ease-in-out;
  }

  .stepper .stepper-item.active {
    @apply bg-primary-500;
  }

  .badge {
    @apply rounded-[4px] px-[8px] flex justify-center items-center border bg-white;
  }

  .badge-lg {
    @apply badge prod-l2 font-medium;
  }

  .badge-md {
    @apply badge prod-l3 font-medium;
  }

  .badge-sm {
    @apply badge prod-l4 font-medium;
  }

  .badge-green {
    @apply border-success-500 text-success-500 bg-success-50;
  }

  .badge-yellow {
    @apply border-warning-500 text-warning-500 bg-warning-50;
  }

  .badge-red {
    @apply border-destructive-500 text-destructive-500 bg-destructive-50;
  }

  .badge-blue {
    @apply border-primary-500 text-primary-500 bg-primary-50;
  }

  .badge-gray {
    @apply border-gray-500 text-gray-500 bg-gray-50;
  }

  .modal {
    @apply bg-transparent fixed top-0 left-0 h-screen w-screen z-10 pt-[88px] pb-[20px] px-[20px];
    @apply flex items-center justify-center;
  }

  .modal .modal-backdrop {
    @apply absolute top-0 h-full w-full;
    background-color: rgba(52, 64, 84, 0.6);
    backdrop-filter: blur(8px);
    z-index: -1;
  }

  .modal .modal-container {
    @apply bg-white w-[440px] border-2 border-gray-50 rounded-[8px] m-auto;
    box-shadow: 0px 25px 50px -12px rgba(0, 0, 0, 0.25);
  }

  .modal .modal-container .modal-body {
    @apply p-[20px] border-b-2 border-gray-50;
  }

  .modal .modal-container .modal-body .modal-heading {
    @apply prod-m-h2 font-semibold text-gray-900 mb-[8px];
  }

  .modal .modal-container .modal-body .modal-content {
    @apply prod-p2 font-medium text-gray-700;
  }

  .modal .modal-container .modal-actions {
    @apply p-[20px] border-t-2 border-gray-50 flex justify-end items-center;
    @apply flex-col-reverse sm:flex-row w-full;
  }

  .modal .modal-container .modal-actions button {
    @apply w-full sm:w-fit;
  }

  .test-layout {
    width: 100vw;
    height: 100vh;
    border: 10px solid black;
    display: grid;
    grid-template-columns: 300px 1fr;
  }

  .test-layout .leaflet-container {
    width: 100%;
    height: 100%;
    position: absolute !important;
    z-index: 1;
  }

  .dr-map {
    width: 100%;
    height: 170px;
    border-radius: 8px;
    overflow: hidden;
  }

  .drmap-container {
    width: 100%;
    height: 100%;
    position: relative;
  }

  .leaflet-container {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
  }

  .reset-location {
    height: 30px;
    width: 30px;
    background-color: #f4f4f4;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
    border-radius: 4px;
    border: 2px solid rgba(51, 181, 229, 0.4);
    cursor: pointer;
  }

  .reset-location img {
    width: 22x;
    height: 22px;
    margin: 4px;
  }

  .map-controls {
    @apply absolute bottom-0 right-0 z-10 m-[20px];
  }

  .control-wrapper {
    @apply bg-white flex justify-center items-center px-[12px] py-[8px] cursor-pointer;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1),
      0px 0px 0px 1px rgba(70, 83, 96, 0.16);
  }

  .snackbar-wrapper {
    min-width: fit-content;
    /* width: 100% !important; */
    max-width: 330px;
    top: 80px !important;
  }

  .snackbar-wrapper .Toastify__close-button {
    position: absolute;
    z-index: 10;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
  }

  .snackbar-wrapper .Toastify__close-button > svg {
    height: 24px;
    width: 24px;
  }

  .snackbar-wrapper .Toastify__toast {
    overflow: unset;
    padding: 0;
    background-color: transparent;
    min-height: unset;
  }

  .snackbar-wrapper .Toastify__toast .Toastify__toast-body {
    overflow: unset;
    padding: 0;
    margin: 0;
  }

  @media only screen and (max-width: 480px) {
    .snackbar-wrapper {
      width: 100vw;
      max-width: 100vw;
      padding: 0 16px !important;
      left: 50% !important;
      transform: translateX(-50%) !important;
    }

    .snackbar-wrapper .Toastify__toast {
      margin-bottom: 1rem;
    }
  }

  .snackbar-wrapper .close-icon {
    @apply hover:!stroke-white cursor-pointer;
    position: absolute;
    z-index: 10;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
  }

  .snackbar-wrapper .close-icon.close-icon-lg {
    @apply h-[28px] w-[28px];
  }
  .snackbar-wrapper .close-icon.close-icon-md {
    @apply h-[24px] w-[24px];
  }
  .snackbar-wrapper .close-icon.close-icon-sm {
    @apply h-[20px] w-[20px];
  }

  .snackbar-wrapper .close-icon.close-primary {
    @apply stroke-primary-100;
  }

  .snackbar-wrapper .close-icon.close-secondary {
    @apply stroke-gray-100;
  }

  .snackbar-wrapper .close-icon.close-success {
    @apply stroke-success-100;
  }

  .snackbar-wrapper .close-icon.close-warning {
    @apply stroke-warning-100;
  }

  .snackbar-wrapper .close-icon.close-destructive {
    @apply stroke-destructive-100;
  }

  .snackbar {
    @apply ps-[20px] pe-[50px] py-[16px] rounded-[8px];
    @apply flex items-center;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.25),
      0px 15px 35px -5px rgba(17, 24, 38, 0.5),
      0px 0px 0px 0.5px rgba(255, 255, 255, 0.4);
  }

  .snackbar-lg .icon {
    @apply h-[28px] w-[28px] me-[10px] flex-shrink-0;
  }

  .snackbar-md .icon {
    @apply h-[24px] w-[24px] me-[10px] flex-shrink-0;
  }

  .snackbar-sm .icon {
    @apply h-[20px] w-[20px] me-[10px] flex-shrink-0;
  }

  .snackbar-lg .message {
    @apply prod-l1 font-medium;
  }

  .snackbar-md .message {
    @apply prod-l2 font-medium;
  }

  .snackbar-sm .message {
    @apply prod-l3 font-medium;
  }

  .snackbar.snackbar-primary {
    @apply bg-[#103856] text-primary-100;
  }

  .snackbar.snackbar-secondary {
    @apply bg-gray-800 text-gray-100;
  }

  .snackbar.snackbar-success {
    @apply bg-[#155118] text-success-100;
  }

  .snackbar.snackbar-warning {
    @apply bg-[#58480E] text-warning-100;
  }

  .snackbar.snackbar-destructive {
    @apply bg-[#561010] text-destructive-100;
  }
  .snackbar.snackbar-primary .icon {
    @apply fill-primary-100;
  }

  .snackbar.snackbar-secondary .icon {
    @apply fill-gray-100;
  }

  .snackbar.snackbar-success .icon {
    @apply fill-success-100;
  }

  .snackbar.snackbar-warning .icon {
    @apply fill-warning-100;
  }

  .snackbar.snackbar-destructive .icon {
    @apply fill-destructive-100;
  }

  /* PRINT / PDF */

  .print-component {
    display: none;
  }

  .print-component.mobile {
    display: block;
    position: fixed;
    top: 0;
    right: 100%;
  }

  .print-component:not(.mobile) .print-container {
    @apply px-[32px];
    height: 100vh;
    width: 100vw;
  }

  .print-component.mobile .print-container {
    @apply px-[32px];
    width: 210mm;
    overflow: hidden;
  }

  @media print {
    .print-container {
      @apply px-[32px];
      height: 100vh;
      width: 100vw;
    }
    .page {
      @apply py-[32px] flex flex-col h-full w-full;
    }

    .page-header,
    .page-footer {
      @apply flex justify-between items-center flex-shrink-0;
      @apply text-gray-700 prod-l5 font-semibold;
    }

    .page-content {
      @apply flex-grow;
    }

    .content-header {
      @apply flex justify-between items-center;
      @apply px-[14px] py-[12px] bg-[#F4F5F8] border border-gray-400;
    }

    .content-header p {
      @apply prod-l5 font-semibold;
    }

    .content-header span {
      @apply prod-l5 font-medium px-[6px] py-[2px] bg-gray-100 text-gray-900  rounded-[99px];
    }

    .row-header,
    .row {
      display: grid;
      grid-template-columns: repeat(var(--page-columns), 1fr);
    }

    .row-item {
      @apply px-[8px] py-[10px] border border-gray-200;
      max-height: 40px;
      color: #171e26;
      font-size: 8px;
      font-style: normal;
      font-weight: 500;
      line-height: 12px;
      letter-spacing: 0.4px;
    }

    .row-header .row-item {
      font-weight: 600;
    }

    .page-footer {
      page-break-after: always;
    }

    .print-container .suspected-symptoms-container {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
    }

    .print-container .suspected-symptoms-container .suspected-symptom-item {
      border: 1px solid #bcc5ce;
      padding: 10px 8px;
      font-size: 8px;
      line-height: 12px;
    }

    .print-container
      .suspected-symptoms-container
      .suspected-symptom-item
      .label {
      font-size: 12px;
      color: #687582;
      font-weight: 600;
    }

    .print-container
      .suspected-symptoms-container
      .suspected-symptom-item
      .value {
      font-size: 14px;
      color: #171e26;
      font-weight: 500;
      margin: 8px auto;
    }

    .print-container
      .suspected-symptoms-container
      .suspected-symptom-item
      .region {
      font-size: 12px;
      color: #465360;
      font-weight: 500;
    }

    .print-container
      .suspected-symptoms-container
      .suspected-symptom-item
      .region
      span {
      font-weight: 600;
    }

    .print-container .report-wrapper {
      border: 1px solid #bcc5ce;
    }

    .print-container .wordcloud-wrapper {
      border: 1px solid #bcc5ce;
      padding: 12px 14px;
    }

    .print-container .wordcloud-wrapper img {
      border-radius: 8px;
    }
  }

  .print-component.mobile .page {
    @apply py-[32px] flex flex-col h-full w-full bg-white;
  }

  .print-component.mobile .page-header,
  .print-component.mobile .page-footer {
    @apply flex justify-between items-center flex-shrink-0;
    @apply text-gray-700 prod-l5 font-semibold;
  }

  .print-component.mobile .page-content {
    @apply flex-grow;
  }

  .print-component.mobile .content-header {
    @apply flex justify-between items-center;
    @apply px-[14px] py-[12px] bg-[#F4F5F8] border border-gray-400;
  }

  .print-component.mobile .content-header p {
    @apply prod-l5 font-semibold;

    font-family: "Inter";
  }

  .print-component.mobile .content-header span {
    @apply prod-l5 font-medium px-[6px] py-[2px] bg-gray-100 text-gray-900  rounded-[99px];
  }

  .print-component.mobile .row-header,
  .print-component.mobile .row {
    display: grid;
    grid-template-columns: repeat(var(--page-columns), 1fr);
  }

  .print-component.mobile .row-item {
    @apply px-[8px] py-[10px] border border-gray-200;
    max-height: 40px;
    color: #171e26;
    font-size: 8px;
    font-style: normal;
    font-weight: 500;
    line-height: 12px;
    letter-spacing: 0.4px;
  }

  .print-component.mobile .row-header .row-item {
    font-weight: 600;
  }

  .print-component.mobile .page-footer {
    page-break-after: always;
  }

  .print-component.mobile .print-container .suspected-symptoms-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }

  .print-component.mobile
    .print-container
    .suspected-symptoms-container
    .suspected-symptom-item {
    border: 1px solid #bcc5ce;
    padding: 10px 8px;
    font-size: 8px;
    line-height: 12px;
  }

  .print-component.mobile
    .print-container
    .suspected-symptoms-container
    .suspected-symptom-item
    .label {
    font-size: 12px;
    color: #687582;
    font-weight: 600;
  }

  .print-component.mobile
    .print-container
    .suspected-symptoms-container
    .suspected-symptom-item
    .value {
    font-size: 14px;
    color: #171e26;
    font-weight: 500;
    margin: 8px auto;
  }

  .print-component.mobile
    .print-container
    .suspected-symptoms-container
    .suspected-symptom-item
    .region {
    font-size: 12px;
    color: #465360;
    font-weight: 500;
  }

  .print-component.mobile
    .print-container
    .suspected-symptoms-container
    .suspected-symptom-item
    .region
    span {
    font-weight: 600;
  }

  .print-component.mobile .print-container .report-wrapper {
    border: 1px solid #bcc5ce;
  }

  .print-component.mobile .print-container .wordcloud-wrapper {
    border: 1px solid #bcc5ce;
    padding: 12px 14px;
  }

  .print-component.mobile .print-container .wordcloud-wrapper img {
    border-radius: 8px;
  }

  main.print-page {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  main.print-page h1 {
    @apply m-[16px];
  }

  @media print {
    .print-image {
      width: 100vw;
    }

    .print-image.list {
      @apply px-[32px];
    }

    .print-image img {
      width: 100%;
    }
  }

  main.print-page .print-image {
    width: 90%;
    max-width: 400px;
  }

  main.print-page .print-image img {
    width: 100%;
    object-position: center;
    object-fit: cover;
    max-width: 400px;
  }

  /* SKELETON */

  .skeleton {
    @apply max-w-[1366px] mx-auto h-full flex flex-col;
  }

  .skeleton-cards {
    @apply grid grid-cols-[1fr] sm:grid-cols-[repeat(2,_1fr)] md:grid-cols-[repeat(6,_1fr)] lg:grid-cols-[repeat(5,_1fr)];
    gap: 15px;
  }

  .skeleton-cards .item {
    @apply col-auto sm:col-[span_1] md:col-[span_2] lg:col-[span_1];
    @apply rounded-[8px] bg-white p-[8px] min-w-[185px];
    border-radius: 8px;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1),
      0px 0px 0px 1px rgba(70, 83, 96, 0.16);
  }

  .skeleton-cards .item:nth-child(4) {
    @apply col-auto sm:col-[span_1] md:col-[span_3] lg:col-[span_1];
  }

  .skeleton-cards .item:nth-child(5) {
    @apply col-auto sm:col-[span_2] md:col-[span_3] lg:col-[span_1];
  }

  .skeleton-reports {
    @apply grid grid-cols-[1fr] md:grid-cols-[1fr_1fr];
    gap: 15px;
  }

  .skeleton-reports .item {
    @apply relative bg-white p-[20px] rounded-[8px] w-full h-[500px];
  }

  .skeleton-reports .item .icon-wrapper {
    @apply absolute top-0 left-0 w-full h-full flex items-center justify-center;
  }

  .skeleton .skeleton-header {
    @apply flex flex-shrink-0 justify-between flex-col sm:flex-row h-[84px] sm:h-[36px] mb-[32px];
  }

  .skeleton .skeleton-body {
    @apply flex-grow border border-gray-200 h-full rounded-[8px] overflow-hidden;
  }

  .skeleton .skeleton-body .skeleton-table {
    @apply flex flex-col h-full;
  }

  .skeleton .skeleton-body .skeleton-table .skeleton-table-header,
  .skeleton .skeleton-body .skeleton-table .skeleton-table-footer {
    @apply border-gray-50 flex-shrink-0 bg-[#F4F5F8] h-[64px] flex px-[20px] py-[16px];
  }

  .skeleton .skeleton-body .skeleton-table .skeleton-table-body {
    @apply flex-grow flex flex-col overflow-hidden;
  }

  .skeleton
    .skeleton-body
    .skeleton-table
    .skeleton-table-body
    .skeleton-table-body-header {
    @apply flex-shrink-0 h-[34px] bg-[#E9EFF5];
  }

  .skeleton .skeleton-body .skeleton-table .skeleton-table-body .skeleton-grid {
    display: grid;
    grid-template-columns: 50px repeat(calc(var(--skeleton-columns) - 2), 1fr) 50px;
  }

  @media only screen and (max-width: 480px) {
    .skeleton
      .skeleton-body
      .skeleton-table
      .skeleton-table-body
      .skeleton-grid {
      grid-template-columns: 50px repeat(3, 1fr) 50px;
    }

    .skeleton
      .skeleton-body
      .skeleton-table
      .skeleton-table-body
      .skeleton-grid
      div:nth-child(n + 6):nth-child(-n + 100) {
      display: none;
    }
  }

  .skeleton .skeleton-body .skeleton-table .skeleton-table-body .skeleton-cell {
    @apply my-auto mx-[10px];
  }

  .skeleton div:empty {
    @apply rounded-[4px];
    background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0.5) 50%,
        rgba(255, 255, 255, 0) 100%
      ),
      #dce3e8;
    background-repeat: repeat-y;
    background-size: 50px 500px;
    background-position: -50px 0;
    animation: shine 2s ease-in infinite;
  }

  @keyframes shine {
    to {
      background-position: calc(100% + 50px) 0;
    }
  }
}
