bcrypt
certifi
fastapi[all]
uvicorn
pymongo[srv]
python-dotenv
python-jose[cryptography]
python-multipart
passlib[bcrypt]
geopandas
pyproj
jinja2
pandas
wordcloud
nltk
geopy
tqdm

# Packages for annotation using Electra
transformers
torch==2.3.0
numpy==1.26.4
accelerate

# Packages for bigram
networkx
matplotlib
memory_profiler==0.61.0
spacy